<% provide(:title, "About Us") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      This is the the About US. Info
    </p>

   
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3002.486829317114!2d-73.16863408424217!3d41.18935877928298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e80c3309c5367d%3A0x4bfb03218fe506d1!2sBridgeport+Hospital!5e0!3m2!1sen!2sus!4v1480300614882" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  </body>
</html>
