<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <h4 style = "text-align: center"> To contact the Hospital please call this number at  <strong>203-384-3000</strong></h4>
</p>

<p>
         <%= link_to image_tag("BMC.jpg", alt: "Bridgeport Medical Center", width: "1100px", height: "350px", style: "display: block;   margin: 0 auto;") %>
        </p>

<p>
   <h4 style = "text-align: center"> To reach us about the website: please call at this number 203-000-0000</h4>
</p>