<h1>Health Wellness</h1>

<h2 style = "text-align: left; margin-left: 10px;">Making Changes to Avoid Heart Disease</h2>
<p style = "text-align: left; margin-left: 10px;" >
    Your heart is a vital organ that keeps your body functioning. Unfortunately, many people don't treat it that way. They may not realize that their daily habits and lifestyle can overwork and damage their hearts. So, take care of your heart and yourself. Start by making the following lifestyle changes.
</p>

<h3 style = "text-align: left; margin-left: 10px;">Get smoke-free</h3>
<p style = "text-align: left; margin-left: 10px;" >
    Nicotine causes blood vessels to narrow. This makes it hard for blood to reach your heart muscle and temporarily raises blood pressure. The carbon monoxide in cigarette smoke lessens the oxygen that gets to the heart. That's why smokers have twice the risk of heart attacks compared to nonsmokers. So, if you smoke, think about quitting. Talk with your doctor about ways to quit. And, try to avoid secondhand smoke. It is also bad for your heart
</p>

<h4 style = "text-align: left; margin-left: 10px;">Eat heart-friendly foods</h4>
<p style = "text-align: left; margin-left: 10px;" >
    Eating fatty foods plays a part in the buildup of fat in your arteries. This can lead to blocked arteries of your heart and to the risk of a heart attack. You should limit fatty meats, whole-milk products, egg yolks, and fried foods. Instead, choose nonfat milk or low-fat dairy products. In addition, choose healthier cooking oils made with unsaturated fats, such as canola and olive oils. But since they are fat, use them in limited amounts. Also, try to eat 2 cups of fruit and 2.5 cups of vegetables daily. They're good for you, and they fill you up.
    
</p>

<h5 style = "text-align: left; margin-left: 10px;">Set exercise goals</h5>
<p style = "text-align: left; margin-left: 10px;">
    Exercise gets your heart pumping. This helps your body use oxygen better and makes your heart stronger. It can also decrease your blood pressure and the amount of fat in your blood. Start your exercise program slowly, especially if you haven't been active for a while. Begin with short sessions, such as 10-minute walks. Gradually increase the length of your workouts to at least 30 minutes, 5 days a week. Be sure to talk with your doctor before starting an exercise program.
</p>

<h6 style = "text-align: left; margin-left: 10px;">Watch your blood pressure</h6>
<p style = "text-align: left; margin-left: 10px;">
    Make sure your blood pressure is in the healthy range or under control. Blood pressure is the force against the walls of your blood vessels as blood flows through them. The harder your heart works, the greater your risk for having a heart attack.

Making smart lifestyle choices like eating a diet low in sodium, exercising regularly, avoiding tobacco, reducing stress, and limiting alcohol, will decrease your risk of developing high blood pressure.  


</p>

<h7 style = "text-align: left; margin-left: 10px;">Watch your weight</h7>
<p style = "text-align: left; margin-left: 10px;">
    The American Heart Association (AHA) considers overweight and obesity to be major risk factors for heart disease. If you are overweight, losing weight can decrease your risk. Reaching or maintaining an ideal weight also helps lower your blood pressure and cholesterol levels.
</p>

<h8 style = "text-align: left; margin-left: 10px;">Reduce stress</h8>
<p style = "text-align: left; margin-left: 10px;" >
    Continued and elevated stress has been consistently linked to health problems, including an increased risk for heart disease and cardiac death or death from heart disease. Anger is tightly linked with risk of cardiac death. Common ways of dealing with stress, such as overeating and smoking, can further harm your heart. Try to keep your stress low by exercising, sharing your concerns with friends and family, and making some quiet time for yourself each day. Spending 15 to 20 minutes every day doing something you enjoy is a simple, but effective, step toward a less stressful life.

The AHA recommends regular screening for your risk for heart disease beginning at age 20. Screening includes measuring blood pressure, body mass index, waist circumference, and pulse each regular health care visit or at least every 2 years. Getting a cholesterol profile every 5 years for normal-risk people is also recommended.
</p>


