<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bridgeport Medical Center</title>
  </head>
  <body>
    <h1>Help</h1>
    
   <%= link_to image_tag("HomePage.png") %>
   <p>
     <ol>
       <ul><li><strong>Introduction of the Bridgeport Medical Center's Website</strong></li></ul>
       <li>Bridgeport Medical Center Logo: Click to Home Page</li>
       <li>Home: Click to Home Page</li>
       <li>Help: Documentation for Website</li>
       <li>Log in: Click to Log In Page</li>
       <li>Find a Doctor: Shows all Specialty and Shows Doctors under each Specialty</li>
       <li>Information: Click on Health Wellness and opens recent Health article</li>
       <li>Patients & Visitors: Click on Schedule & Policy to show you schedule and policy page</li>
       <li>About Us: Click to open the map of Bridgeport Medical Center's location </li>
       <li>Contact Us: Click to display phone information to reach Bridgeport Medical Center or contact the developers for more information</li>
       <li>Sign Up: Open to Create a New Account Page</li>
     </ol>
   </p>
  </body>
</html>