<style>
table, th, td {
    border: 1px solid black;
 
}
</style>
<h1>Schedule and Policy</h1>
<div style =  "margin-left: 20px; margin-right: 20px;" >
    <h3>
    <table style = "width:100%; " >
        <tr>
            <td colspan="2" style="width:100%; text-align: center;">Schedule</td>
        </tr>
        <tr>
            <th >Day</th>
            <th>Time</th>
        </tr>
        <tr>
            <td  width="70%" >Monday </td>
            <td   width="30%">24 Hours</td>
        </tr>
        <tr>
            <td >Tuesday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td >Wednesday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td > Thursday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td > Friday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td >Saturday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td >Sunday </td>
            <td>24 Hours</td>
        </tr>
        
        
    </table>
</h3>
</div>

