<style>
table, th, td {
    border: 1px solid black;
 
}
</style>
<h1>Schedule and Policy</h1>
<div style =  "margin-left: 20px; margin-right: 20px;" >
    <h3>
    <table style = "width:100%; " >
        <tr>
            <td colspan="2" style="width:100%; text-align: center;">Schedule</td>
        </tr>
        <tr>
            <th >Day</th>
            <th>Time</th>
        </tr>
        <tr>
            <td  width="70%" >Monday </td>
            <td   width="30%">24 Hours</td>
        </tr>
        <tr>
            <td >Tuesday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td >Wednesday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td > Thursday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td > Friday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td >Saturday </td>
            <td>24 Hours</td>
        </tr>
        <tr>
            <td >Sunday </td>
            <td>24 Hours</td>
        </tr>
        
        
    </table>
</h3>
<div style = "text-align: center;" >
    <h3> Policy</h3>
    <h3>Our Privacy Policies</h3>

<h3>"We work hard to ensure the privacy of patients and maintain the confidentiality their information and medical records. Like all accredited healthcare institutions, we follow a federal law called the Health Insurance Portability and Accountability Act (HIPAA), which is designed to protect the privacy and confidentiality of patient information. We insist that our staff observe patient confidentiality – respecting your right to privacy about your medical records and experience at our hospital." </h3><a href = "https://www.ynhhs.org/policies.aspx">Source</a>
</div>
</div>

