
<div style = "margin-left: 100px; margin-right:100px;" >    

     <h1>Listing Events</h1>
     
     
         <div class="calendar"></div>
         <div id='remote_container'></div>
</div>         
         
        


    


