<% provide(:title, "Hello") %>


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />




	<!--[if lt IE 7]>
		<style type="text/css">
			#wrapper { height:100%; }
		</style>
	<![endif]-->

</head>
<body>
  <div id="wrapper">
  


      <div class ="officetitletab", style= "margin: 0 auto;">
        <div class = "officetab1">
          <%= link_to "Modify Appointment", appointments_path %>
	       </div>
	       <div class = "officetab2">
 	   	  <%= link_to "Message", mailbox_inbox_path %>
 	       </div>
 	       <div class = "officetab3">
 	   	     <%= link_to " Modify Event", gotoeventcalendar_path %>
 	       </div>
 	     </div>
 	     <div id="content"> 
       	   <div class = "invisibleblock">
       	   </div>
       	   <p>
           <%= link_to image_tag("BridgeportMedicalCenter.png", alt: "Bridgeport Medical Center", width: "1100px", height: "350px", style: "display: block;   margin: 0 auto;") %>
          </p>
       </div>
       
    <div id = "backgroundfooter">
    </div>

 </div>

</body>
</html>
