<div class = "invisibleblock" ></div>
<div style = "margin-left: 100px; margin-right:100px;" >    

        <%= render partial: 'mailbox/folder_view', locals: { is_conversation: false, messages: @sent } %>
</div>