<h1>Bridgeport Medical Center</h1>

<p>Hi <%= @user.firstname %>
<%= @time %> </p>
<p>
    <%= @status %>
</p>

<p>
You have requested for your appointment. Please wait for respond from Support for your Appointment Status.
</p>
