<div style = "margin-left: 300px; margin-right:300px;" >
        
        <h1>Editing appointment</h1>
        
        <%= render 'form' %>
        
        <%= link_to 'Show', @appointment %> |
        <%= link_to 'Back', appointments_path %>
</div>